{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

<div id="content">
    {% block content %}
    <div>
        <h1 style="text-align: center;">Welcome to the COC Clan Manager</h1>
        <h3 style="text-align: center;">Manage your clan with detailed clan, war, and player statistics</h3>
    </div>

    {% if is_logged_in is False %}
        <div>
            <h3 style="text-align: center; margin-top: 50px;">Create an account to get started!</h3>
            <a href="/register/create_account" class="d-block text-center mb-4">
                <button class="btn btn-primary btn-lg">Create Account</button>
            </a>

            <h3 style="text-align: center; margin-top: 50px;">Or log into an existing account</h3>
            <a href="/register/login" class="d-block text-center">
                <button class="btn btn-secondary btn-lg">Log in</button>
            </a>
        </div>
    {% endif %}

    <!-- Features Section -->
    <div class="features-section mt-5">

        <!-- Feature 1 -->
        <div class="d-flex align-items-center justify-content-between mt-4">
            <img src="{% static 'images/COC_Website_Image_3.png' %}" alt="Feature 1" class="img-fluid rounded" style="width: 55%; height: auto;">
            <div class="text-content ms-4" style="width: 55%;">
                <h3>Clan War Tracker</h3>
                <p>View Information about each Clan War</p>
            </div>
        </div>

        <!-- Feature 2 -->
        <div class="d-flex align-items-center justify-content-between mt-4 flex-row-reverse">
            <img src="{% static 'images/COC_Website_Image_1.png' %}" alt="Feature 2" class="img-fluid rounded" style="width: 60%;">
            <div class="text-content me-4" style="width: 55%;">
                <h3>Member Trends</h3>
                <p>View Summaries of Member War Performance</p>
            </div>
        </div>

        <!-- Feature 3 -->
        <div class="d-flex align-items-center justify-content-between mt-4">
            <img src="{% static 'images/COC_Website_Image_3.png' %}" alt="Feature 3" class="img-fluid rounded" style="width: 55%;">
            <div class="text-content ms-4" style="width: 55%;">
                <h3>Player History</h3>
                <p>View Player History from each month to track activity</p>
            </div>
        </div>
    </div>

    {% endblock %}
</div>