{% extends 'main/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
History for {{player.name}}
{% endblock %}

<div id="content">
    {% block content %}
    <form method="post" action="{% url 'view_player' player.tag %}" class="button-form">
        {% csrf_token %}
        <button type="submit" name="back" class="view-button">Back</button>
    </form>
    <h1 class="centered-heading">History for {{ player.name }}</h1>

    {% if monthly_data == "N/A" %}
        <h3 class="center-text">There is no history available for this player. Check back at the start of the next trophy season (last Monday of the Month)</h3>
    {% else %}
    <div class="clan-grid">
        <h3 class="center-text">Records are stored on the last Sunday of each month, just before the end of the trophy season</h3>
        {% for record in monthly_data %}
            {% if record.data.townHallLevel != None %}
            <div class="clan-container">
                <h1>{{record.month_year|convert_date_to_month_year}}</h1>  <!-- Use the custom tag here -->
                <h3 class="center-text">Fetched on {{record.day_fetched}} at {{record.time_fetched}} EST</h3>  <!-- Use the custom tag here -->
                <p><strong>Name:</strong> {{ record.data.name }}</p>
                <p><strong>Town Hall:</strong> {{ record.data.townHallLevel }}</p>
                <p><strong>Builder Hall:</strong> {{ record.data.builderHallLevel }}</p>

                <p><strong>Trophies:</strong> {{ record.data.trophies }}</p>
                <p><strong>Builder Base Trophies:</strong> {{ record.data.builderBaseTrophies }}</p>
                <p><strong>XP Level:</strong> {{ record.data.expLevel }}</p>
                <p><strong>War Stars:</strong> {{ record.data.warStars }}</p>

                <p><strong>Clan:</strong> {{ record.data.clan.name }}</p>
                <p><strong>Clan Tag:</strong> {{ record.data.clan.tag }}</p>

                <p><strong>Donations:</strong> {{ record.data.donations }}</p>
                <p><strong>Donations Recieved:</strong> {{ record.data.donationsReceived }}</p>
                <p><strong>Clan Capital Contributions:</strong> {{ record.data.clanCapitalContributions }}</p>
                <p><strong>Attack Wins:</strong> {{ record.data.attackWins }}</p>
                <p><strong>Defense Wins:</strong> {{ record.data.defenseWins }}</p>

                <div>
                    <h2 style="margin-bottom: 20px;" class="collapsible" onclick="toggleCollapse('heroes_{{ record.time_fetched|slugify }}')">Heroes (click to expand)</h2>
                    <div id="heroes_{{ record.time_fetched|slugify }}" class="collapsible-content">
                        <table id="sortableTable" class="sortable-table">
                            <thead>
                                <tr>
                                    <th>Icon</th>
                                    <th>Name</th>
                                    <th>Village</th>
                                    <th>Level</th>
                                    <th>Last TH/BH Max Level</th>
                                    <th>Current TH/BH Max Level</th>
                                    <th>Equipment 1</th>
                                    <th>Equipment 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for hero in record.data.heroes %}
                                <tr 
                                style="background-color: 
                                    {% if hero.village == 'home' %}
                                        {% if hero.level < hero.name|get_max_level_previous_TH:player.townHallLevel %}
                                            #ffcccc; /* Red for rushed */
                                        {% elif hero.level >= hero.name|get_max_level_current_TH:player.townHallLevel %}
                                            #ccffcc; /* Green for maxed */
                                        {% else %}
                                            #ffffff; /* Default background */
                                        {% endif %}
                                    {% else %}
                                        {% if hero.level < hero.name|get_max_level_previous_TH:player.builderHallLevel %}
                                            #ffcccc; /* Red for rushed */
                                        {% elif hero.level >= hero.name|get_max_level_current_TH:player.builderHallLevel %}
                                            #ccffcc; /* Green for maxed */
                                        {% else %}
                                            #ffffff; /* Default background */
                                        {% endif %}
                                    {% endif %}">
                                    <td>
                                        <img src="{% static 'images/Avatar_Hero_'|add:hero.name|replace_space_with_underscore|add:'.webp' %}" style="max-width: 150px;">
                                    </td>                              
                                    <td>{{hero.name}}</td>
                                    {% if hero.village == "home" %}
                                        <td>Home Village</td>
                                    {% elif hero.village == "builderBase" %}
                                        <td>Builder Base</td>
                                    {% endif %}
                                    <td>{{hero.level}}</td>
                                    {% if hero.name == "Battle Machine" or hero.name == "Battle Copter" %}
                                        <td>{{ hero.name| get_max_level_previous_TH:player.builderHallLevel }}</td>
                                        <td>{{ hero.name| get_max_level_current_TH:player.builderHallLevel }}</td>
                                    {% else %}
                                        <td>{{ hero.name| get_max_level_previous_TH:player.townHallLevel }}</td>
                                        <td>{{ hero.name| get_max_level_current_TH:player.townHallLevel }}</td>
                                    {% endif %}
                                        {% for item in hero.equipment %}
                                        <td>{{ item.name }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


                <div>
                    <h2 style="margin-bottom: 20px;" class="collapsible" onclick="toggleCollapse('equipment_{{ record.time_fetched|slugify }}')">Equipment (click to expand)</h2>
                    <div id="equipment_{{ record.time_fetched|slugify }}" class="collapsible-content">        
                        <table id="sortableTable" class="sortable-table">
                            <thead>
                                <tr>
                                    <th>Icon</th>
                                    <th>Name</th>
                                    <th>Hero</th>
                                    <th>Level</th>
                                    <th>In Use</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for equipment in record.data.heroEquipment|sort_equipment:player %}
                                <tr>
                                    <td>
                                        <img src="{% static 'images/'|add:equipment.name|replace_space_with_underscore|add:'.webp' %}" style="max-width: 150px;">
                                    </td>                              
                                    <td>{{equipment.name}}</td>
                                    <td>{{ equipment.name| equipment_to_hero }}</td>
                                    <td>{{equipment.level}}</td>
                                    <td>{{equipment.name|check_in_use_1:player}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div>
                    <h2 style="margin-bottom: 20px;" class="collapsible" onclick="toggleCollapse('other_units_{{ record.time_fetched|slugify }}')">Other Units (click to expand)</h2>
                    <div id="other_units_{{ record.time_fetched|slugify }}" class="collapsible-content">                                        
                        <h4>Troops (Home Village)</h4>
                        {% for troop in record.data.troops|filter_until_lassi %}
                            {% if troop.village == "home" and troop.name|does_not_start_with:"Super" and troop.name|not_in:"Sneaky Goblin,Rocket Balloon,Inferno Dragon,Ice Hound" and troop.name|not_in:"Wall Wrecker,Battle Blimp,Stone Slammer,Siege Barracks,Battle Drill,Flame Flinger,Log Launcher" %}
                            <div style="position: relative; display: inline-block;">
                                <img src="{% static 'images/Avatar_'|add:troop.name|replace_space_with_underscore|add:'.webp' %}" style="max-width: 75px; max-height: 75px;" title="{{ troop.name }}">
                                <div style="position: absolute; bottom: 5px; right: 5px; color: white; font-weight: bold; background-color: rgba(0, 0, 0, 0.5); padding: 2px;">
                                    {{ troop.level }}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                        <h4>Troops (Builder Base)</h4>
                        {% for troop in record.data.troops %}
                            {% if troop.village == "builderBase" %}
                            <div style="position: relative; display: inline-block;">
                                <img src="{% static 'images/Avatar_'|add:troop.name|replace_space_with_underscore|add:'.webp' %}" style="max-width: 75px; max-height: 75px;" title="{{ troop.name }}">
                                <div style="position: absolute; bottom: 5px; right: 5px; color: white; font-weight: bold; background-color: rgba(0, 0, 0, 0.5); padding: 2px;">
                                    {{ troop.level }}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                        <h4>Spells</h4>
                        {% for spell in record.data.spells %}
                            <div style="position: relative; display: inline-block;">
                                <img src="{% static 'images/'|add:spell.name|replace_space_with_underscore|add:'_info.webp' %}" style="max-width: 75px; max-height: 75px;" title="{{ spell.name }}">
                                <div style="position: absolute; bottom: 5px; right: 5px; color: white; font-weight: bold; background-color: rgba(0, 0, 0, 0.5); padding: 2px;">
                                    {{ spell.level }}
                                </div>
                            </div>
                        {% endfor %}
                        <h4>Siege Machines</h4>
                        {% for troop in record.data.troops %}
                            {% if troop.name|is_in_list:"Wall Wrecker,Battle Blimp,Stone Slammer,Siege Barracks,Battle Drill,Flame Flinger,Log Launcher" %}
                            <div style="position: relative; display: inline-block;">
                                <img src="{% static 'images/Avatar_'|add:troop.name|replace_space_with_underscore|add:'.webp' %}" style="max-width: 75px; max-height: 75px;" title="{{ troop.name }}">
                                <div style="position: absolute; bottom: 5px; right: 5px; color: white; font-weight: bold; background-color: rgba(0, 0, 0, 0.5); padding: 2px;">
                                    {{ troop.level }}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                        <h4>Pets</h4>
                        {% for troop in record.data.troops|filter_from_lassi %}
                        {% if troop.village == "home" and troop.name|does_not_start_with:"Super" and troop.name|not_in:"Sneaky Goblin,Rocket Balloon,Inferno Dragon,Ice Hound" and troop.name|not_in:"Wall Wrecker,Battle Blimp,Stone Slammer,Siege Barracks,Battle Drill,Flame Flinger,Log Launcher" %}
                            <div style="position: relative; display: inline-block;">
                                <img src="{% static 'images/Avatar_'|add:troop.name|replace_space_with_underscore|add:'.webp' %}" style="max-width: 75px; max-height: 75px;" title="{{ troop.name }}">
                                <div style="position: absolute; bottom: 5px; right: 5px; color: white; font-weight: bold; background-color: rgba(0, 0, 0, 0.5); padding: 2px;">
                                    {{ troop.level }}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>    
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% block extra_styles %}
<style>
    .center-text {
        text-align: center;  /* Centers text horizontally */
    }
    .centered-heading {
        text-align: center;
        margin: 0 auto;
    }
    .clan-grid {
        display: grid;
        gap: 20px; /* Space between clans */
        margin-top: 20px;
    }

    .clan-container {
        background-color: #f8f9fa;
        border: 2px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    .clan-details {
        padding: 15px;
    }

    .clan-badge {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 15px;
    }

    .clan-details p {
        margin: 8px 0;
        font-size: 16px;
        word-wrap: break-word; /* Allow text to wrap if it's too long */
    }

    .clan-details p strong {
        color: #007BFF;
    }

    .button-form {
        display: inline-block;
        margin-right: 10px;
    }

    .save-button, .remove-button, .view-button {
        padding: 10px 15px;
        font-size: 16px;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .remove-button {
        background-color: #dc3545;
    }
    .view-button {
        background-color: #007BFF;
    }

    .remove-button:hover {
        background-color: #c82333;
    }
    .view-button:hover {
        background-color: #0056b3;
    }

    .alert {
        padding: 15px;
        border-radius: 5px;
        margin-top: 20px;
    }

    .alert-success {
        background-color: #d4edda;  /* Light green background */
        color: #155724;  /* Dark green text */
        border: 1px solid #c3e6cb;  /* Light green border */
    }

    .alert-danger {
        background-color: #f8d7da;  /* Light red background */
        color: #721c24;  /* Dark red text */
        border: 1px solid #f5c6cb;  /* Light red border */
    }

    .alert strong {
        font-weight: bold;
    }

    h4 {
        font-weight: normal;
        }
        .clan-info h3, .clan-info h5, .clan-info p {
            margin: 0;
            padding: 0;
        }
        .clan-info {
            margin-bottom: 20px;
        }
        .sortable-table {
    width: 100%; /* Make the table take up the full width */
    table-layout: auto; /* Automatically adjust the column widths */
    border-collapse: collapse; /* Collapses borders */
}

.sortable-table th,
.sortable-table td {
    padding: 8px; /* Add some padding */
    border: 1px solid #ddd; /* Light border for table cells */
    text-align: left; /* Align text to the left */
}

.sortable-table th {
    background-color: #f2f2f2; /* Light gray background for headers */
    font-weight: bold; /* Make headers bold */
}

.sortable-table td {
    word-wrap: break-word; /* Allow long text to wrap within the cell */
}

/* Optional: You can set a max width for columns if needed */
.sortable-table th:nth-child(1),
.sortable-table td:nth-child(1) {
    max-width: 150px; /* Set max width for the first column */
}

.sortable-table th:nth-child(2),
.sortable-table td:nth-child(2) {
    max-width: 120px; /* Set max width for the second column */
}


        th, td {
            padding: 12px 15px;
            text-align: left;
            border: 1px solid #ddd;
            font-size: 16px;
        }

        th {
            cursor: pointer;
            background-color: #f4f4f4;
            font-weight: bold;
        }

        th:hover {
            background-color: #ddd;
        }

        .sort-arrow {
            margin-left: 8px;
            font-size: 1em;
        }

        /* Hover effect on rows */
        tr:hover {
            background-color: #f1f1f1;
        }

        /* Center table headers and content */
        table {
            margin: 0 auto;
        }

        h1 {
            text-align: center;
            margin-bottom: 10px;
            font-family: Arial, sans-serif;
            color: #333;
        }

        /* Center the buttons and add margin between buttons and table */
        .button-container {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-bottom: 20px;
        }

        .nav-button {
            padding: 10px 20px;
            background-color: #007bff; /* Blue button */
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .nav-button:hover {
            background-color: #0056b3; /* Darker blue on hover */
        }

        .back-button {
            position: absolute;
            top: 10px;
            left: 180px; /* Offset to the right of the sidebar */
            padding: 10px 20px;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            z-index: 10; /* Ensure it is above other content */
            transition: background-color 0.3s ease;
        }
          /* Collapsible content styles */
    .collapsible {
        cursor: pointer;
        padding: 10px;
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 10px 0;
        text-align: center;
    }

    .collapsible-content {
        padding: 0 10px;
        display: none;
        background-color: #f9f9f9;
        border-top: 1px solid #ddd;
    }
        
</style>
{% block extra_scripts %}
<script>
    function toggleCollapse(id) {
        var content = document.getElementById(id);
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
    }
</script>
{% endblock %}
{% endblock %}
{% endblock %}